body {
    background-color: lightcoral;
    padding: 10px;
    margin: 20px;
}

h2 {
    text-align: center;
}

img {
    float: left;
    width: 250px;
    height: 340px;
    margin: 10px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 0px;
}